* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid;
  padding: 10px;
  text-align: center;
}
